@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Open+Sans:wght@500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: 'Montserrat', sans-serif;
}

.banner {
  background-image: url('/public/assets/banner.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.weDo {
  background-image: url('/public/assets/CONSTRUCTION-ARTWORK.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.jedidiah {
  background-image: url('/public/assets/JEDIDIAH-GARDENS-AERIAL-VIEW-COPEN-GROUP-2-scaled.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
